/*Master styles*/
h1 {
	color: #111111;
}

body
{
	font-family:"Poppins", Lato;
	margin: 9px;
	background-color: #5B5655;
}

.container
{
	display: grid;
	grid-template-columns: 1fr; 
}

/*Nav-bar styles*/
.Header {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	background:  #5B5655;
}

.left-side
{
	display: flex;
}

.Header > .left-side > div
{
	margin-right: 20px;
	font-size: 0.9em;
	text-transform: uppercase;
}
.Header-outline
{
	height: 25px;
	border-bottom: 1px solid transparent; 
	transition: border-bottom 0.5s;
}
.Header-outline a
{
	color: #FF851B;
	text-decoration: none;
	transition: color 0.5s;
}

.Header-outline:hover
{
	border-bottom: 1px solid black;
}
.Header-outline a:hover 
{
	color: black;
}

.active-Header-outline {
	border-bottom: 1px solid black;
}

.active-Header-outline a{
	color: black !important;
}


/* Home page content styles*/
.portfolio-items-content
{
	display: grid;
	grid-template-columns: 1fr 1fr; 
}

.portfolio-item-content
{
	position: relative;
}

.portfolio-img-background
{
	height: 350px;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
	
.img-text-content
{
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	height:100%;
	text-align: center;
	padding-left:100px;
	padding-right:100px;	
}	
.logo-content img
{
	width: 50%;
	margin-bottom: 20px;
	position: center; 
}

/*needs to be more specific with selector*/
.img-text-content .subtitle
{
	transition: 1s;
	font-weight: 600;
	color: transparent;
}

.img-text-content:hover .subtitle
{
	font-weight:600;
	color: #FF851B;
}

.img-darken
{
	transition: 1s;
	filter: brightness(10%);
} 
	
	/* cv*/
.two-column-content
{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.profile-image-content img
{
	width: 65%;
	position: relative;
}

.profile-content
{
	padding: 30px;
}

.profile-content h1
{
	color: #111111;
}

/*contacts*/
.two-column-content 
{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.contact-image-content img
{
	width: 65%;
}

.contact-content
{
	padding: 30px;
}

.contact-content h1
{
	color: #111111;
}

.footer 
{
  position: bottom;
  size: cover;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background: #FF851B;
  text-align: center;
}
